// Colors
$white-grey: #efe8db;
$white: #ffffff;
$light-blue: #398293;
$medium-blue: #387ca6;
$deep-blue: #387ca6;
$dark-green: #0c232a;
$medium-green: #193138;
$light-green: #264d53;

// Radius
$light-radius: 5px;
